<!DOCTYPE html>  
<html lang="en">

<head>  
    <title>Tabs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>  
    <style>
    #map {
        width: 700px;
        height: 700px;
    }
    </style>

    <div class="main-container">

    </div>

    <div style="display: flex">
      <div id="map"></div>
      <div> 
        <event-form><event-form> 
      </div>
      <hello></hello> 
    <div>

    <script type="text/javascript">
        this.events = null;
        var tabs = [{
                id: 1,
                title: "tab 1",
                content: "some content 1"
            },
            {
                id: 2,
                title: "tab 2",
                content: "some content 2"
            },
            {
                id: 3,
                title: "tab 3",
                content: "some content 3"
            }
        ];

      var map;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });

        var marker = new google.maps.Marker({
          position: {lat: -34.397, lng: 150.644},
          map: map,
          title: 'Hello World!'
        });
      }

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.3.0/riot+compiler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXP1atfjrMXBUbrxLgmxKgd_dfJ0mkD9o&callback=initMap"
    async defer></script>
    <script type="riot/tag" src="riot/hello.tag"></script>
    <script type="riot/tag" src="riot/event-form.tag"></script>
    <script>riot.mount('hello'); // or riot.mount('*'); to load all tags.</script>
    <script>riot.mount('event-form'); // or riot.mount('*'); to load all tags.</script>
</body>

</html>  