/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

.logo {
  font-family: Impact;
  color: #565656;
}

.main-box {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.btn { 
    display: inline-block;
    font-family: "Open Sans";
    font-size: 0.9375rem;
    background: #f3f2f2;
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    margin-top: 0.0625rem;
    cursor: pointer;
    color: #5a5a5a;
    margin-bottom: 0.6875rem;
    border: 0.0625rem solid #d0d0d0;
    
    i {
      margin-right: 0.3125rem;
    }
}

.main-box {

  li {
    list-style-type: none;
    margin-bottom: 6px;
    background: #ffffff;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #b73232;
  }

  li:hover { 
    background: #f5eebb
  }

  .bucket-panel { 
    width: 95%;
    background: #ea7e54;
    float: right;
    color: #fff;
    margin-right: 12px;
    border-radius: 6px;
    background: #576774e8;
    padding-top: 7px;
  }

  ul { 
    padding: 0px;
    margin: 0px;
  }

  .event-form { 
    position: fixed;
    top: 87px;
    background: #fff;
    margin: auto;
    width: 656px;
    display: none;

    .separator {
      border-bottom: 2px solid #d8d8d8
    }

    .submit-holder {
      display: flex; 
      justify-content: space-between;
    }

    .vertical-top { 
      vertical-align: top;
    }

    .title {
      font-weight: 600;
    }

    .label {
      min-width: 100px;
      display: inline-block;
    }

   
    .form-holder div {
      margin-bottom: 10px;
    }

    input, textarea {
      line-height: 20px;
      transition: background .1s ease,border-color .1s ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: 0;
      border-radius: 4px;
      font-size: 13px;
      border: 1px solid #cfd7e6;
      box-shadow: inset 0 1px 2px 0 rgba(207,215,230,.4);
      box-shadow: 0 1px 3px 0 rgba(89,105,129,.05), 0 1px 1px 0 rgba(0,0,0,.025);
      padding: 0 30px 0 10px;
      height: 32px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 100%;
      width: 63%;
    }

    .ql-snow {
        margin-bottom: 0px !important;
    }

    .tag-holder {
      width: 401px;
      margin-left: 104px;
      border-radius: 5px;
      margin-top: -33px;
      font-size: 12px;
      margin-bottom: 45px;
    }

    .tagify tag x {
      margin-top: -5px;
    }

    .green-btn {
      color: #03af21;
      border-color: #03af21;
    }

    .multi-select {
      display: flex;
    }

    .multi-select div:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .multi-select div:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }


    .multi-select div { 
      border: 1px solid #d5d5d5;
      padding: 5px 9px;
      cursor: pointer;
    }

    .multi-select div:hover { 
      background: #fcaa02;
      color: #fff;
    }

    .multi-select div.selected {
      background: #fcaa02;
      color: #fff;
    }

    &.visible { 
      display: block !important;
    }
  }

  .mini-stats-panel {
    margin-right: 10px;
    text-align: center;
    margin-bottom: 5px;
  }

  .mini-stats-panel .headline {
    background: #42b253;
    color: #fff;
    padding: 2px;
    font-size: 14px;
    font-weight: 700;
  }

  .mini-stats-panel .headline.blue {
    background: #4772de;
  }

  .mini-stats-panel .headline.orange {
    background: #ffaa00;
  }

  .mini-stats-panel .tab {
    border: 1px solid #42b253;
    border-radius: 6px;
    flex: 1;
    margin-right: 3px;
  }

  .mini-stats-panel .tab.blue {
    border: 1px solid #4772de;
  }

  .mini-stats-panel .tab.orange {
    border: 1px solid #ffaa00;
  }

  .mini-stats-panel .tab .text {
    font-size: 33px;
    font-weight: 800;
  }

  .mini-stats-panel .tab .text.green {
    color: #42b253;
  }

  .mini-stats-panel .tab .text.orange {
    color: #ffaa00;
  }

  .mini-stats-panel .tab .text.blue {
    color: #4772de;
  }

  .quick-stats-body { 
    display: flex;
    justify-content: space-between; 
  }

  .quick-stats { 
    margin-bottom: 10px;
    background: #ffa603;
    color: #fff;
    padding: 7px 0px;
    font-weight: 800;
  }

  .sort-button:hover .options {
    display: block;
    position: absolute;
    background: #fafafa;
    padding: 9px;
    margin-top: 7px;
    margin-left: -8px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
  }

  .sort-button .options {
    display: none;
  }

  .sort-button .options div {
    padding: 5px 10px;
    border-radius: 3px;
  }

  .sort-button .options div:hover {
    background: #7da6c1;
  }

  .sort-button .options div.selected{
    background: #4772de;
    color: #fff;
  }

  .filter-button:hover .options {
    display: block;
    position: absolute;
    background: #fafafa;
    padding: 9px;
    margin-top: 7px;
    margin-left: -8px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
  }


  .filter-button .options {
    display: none;
  }

  .filter-button .options div {
    padding: 5px 10px;
    border-radius: 3px;
  }

  .filter-button .options div:hover {
    background: #7da6c1;
  }

  .filter-button .options div.selected{
    padding: 5px 10px;
    border-radius: 3px;
  }

  .filter-button i {
    margin-right: 8px;  
  }

  .event-list { 

    .spacer {
      margin-top: 10px; 
      margin-bottom: 10px;
    }

    .list-item { 
      display: flex; 
      justify-content: space-between; 
      width: 100%
    }

    .title {
      font-weight: 600;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .title.title-header {
      padding: 10px 20px;
      border-bottom: 1px solid #eaecef;
      margin-top: 0px;
    }

    .box.done {
      border: 3px solid #3db741;
      background: #e4fbe5;
    }

    .box.some {
      border: 3px solid #8d8dff;
      background: #e4e4fb;
      color: #5a5720;
    }

    .box .box-contents {
      padding: 20px;
      margin-bottom: 20px;
      margin-bottom: 4px;
    }

    .fa-edit {
      color: #ff9922;
      cursor: pointer;  
    }

    .tags { 
      margin-left: 16px;
    }

    a.tag {
      text-decoration: none;
    }
    .number {
      position: absolute;
      height: 43px;
      margin-left: -48px;
      margin-top: -9px;
      border-radius: 24px;
      background: #b73233;
      border: 1px solid #e0e0e0;
      color: #fff;
      padding-left: 13px;
      padding-top: 9px;
      padding-right: 13px;
      padding-bottom: 8px;
    }

    .number.first { background: #83cc00; }
    .number.second { background: #f99114; }
    .number.third { background: #aa7cca; }
    .number.fourth { background: #fef00e; color: #000 !important; }
    .number.fifth { background: #83cc00; }
    .number.sixth { background: #14b5f9; }
    .number.seventh { background: #837a78; }
    .number.eighth { background: #83cc00; }
    .number.nineth { background: #000; color: #000 !important;}
    .number.tenth { background: #fef00e;  color: #000}


    .title { 
      margin-left: 10px;
    }


    .active {
      background: #ece2cb;
      border: 2px solid #ffb200;
    }

    .time-counter {
      margin-right: 10px;
      background: #b37e00;
      color: #fff;
      padding: 5px;
      border-radius: 6px;
    }
  }

  .logs { 

    .clock { 
      margin-right: 6px;
    }

    .entry { 
      display: flex; 
      justify-content: space-between;
    }

    .title {
      margin-top: 5px;
    }

    .log-entry { 
      display: flex; 
      border-top: 2px solid #e4e4e4; 
      padding-bottom: 5px; 
      justify-content: space-between
    }

    .title {
      font-weight: 800;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .title.title-header {

      padding: 20px;
      border-bottom: 1px solid #eaecef;
      margin-top: 0px;
    }

    .box.done {
      border: 3px solid #3db741;
      background: #e4fbe5;
    }

    .box .box-contents {
      padding: 20px;
      margin-bottom: 20px;
      margin-bottom: 4px;
    }

    .fa-edit {
      color: #ff9922;
      cursor: pointer;
    }

    .tags { 
      margin-left: 16px;
    }

    a.tag {
      text-decoration: none;
    }
    .number {
      position: absolute;
      height: 32px;
      width: 27px;
      margin-left: -48px;
      margin-top: -9px;
      border-radius: 24px;
      background: #b73233;
      border: 1px solid #e0e0e0;
      color: #fff;
      padding-left: 13px;
      padding-top: 9px;
      padding-right: 8px;
    }

    .title { 
      margin-left: 10px;
    }

    .progress-bar { 
      height: 20px;
      width: 95%;
      background: #fff;
      margin-left: 19px;
      margin-bottom: 16px;
      padding: 4px 5px;
      border: 2px solid #eaeaea;
      border-radius: 5px;
      text-align: center;
    }

    .progress-display {
      background: #9ebda0;
      width: 50%;
      height: 20px;
    }

    .active {
      background: #ece2cb;
      border: 2px solid #ffb200;
    }

    .time-counter {
      margin-right: 10px;
      background: #b37e00;
      color: #fff;
      padding: 5px;
      border-radius: 6px;
    }

    .time-taken {
      margin-left: 20px;
      border: 2px solid #fbfbff;
      border-radius: 7px;
      padding: 5px 12px;
      font-size: 17px;
      background: #b591dd;
      color: #fff;
      height: fit-content;
      margin-top: 19px;
    }

    .time-taken-mini {
      border: 2px solid #fbfbff;
      border-radius: 7px;
      padding: 5px 12px;
      font-size: 14px;
      background: #7b7a7a;
      color: #fff;
      height: fit-content;
    }

    .box { padding-bottom: 22px; }

  }

  .chart-view { 
    .title {
      font-weight: 800;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .title.title-header {

      padding: 20px;
      border-bottom: 1px solid #eaecef;
      margin-top: 0px;
    }

    .box.done {
      border: 3px solid #3db741;
      background: #e4fbe5;
    }

    .box .box-contents {
      padding: 20px;
      margin-bottom: 20px;
      margin-bottom: 4px;
    }

    .fa-edit {
      color: #ff9922;
      cursor: pointer;
    }

    .tags { 
      margin-left: 16px;
    }

    a.tag {
      text-decoration: none;
    }
    .number {
      position: absolute;
      height: 32px;
      width: 27px;
      margin-left: -48px;
      margin-top: -9px;
      border-radius: 24px;
      background: #b73233;
      border: 1px solid #e0e0e0;
      color: #fff;
      padding-left: 13px;
      padding-top: 9px;
      padding-right: 8px;
    }

    .title { 
      margin-left: 10px;
    }

    .progress-bar { 
      height: 20px;
      width: 95%;
      background: #fff;
      margin-left: 19px;
      margin-bottom: 16px;
      padding: 4px 5px;
      border: 2px solid #eaeaea;
      border-radius: 5px;
      text-align: center;
    }

    .progress-display {
      background: #9ebda0;
      width: 50%;
      height: 20px;
    }

    .active {
      background: #ece2cb;
      border: 2px solid #ffb200;
    }

    .time-counter {
      margin-right: 10px;
      background: #b37e00;
      color: #fff;
      padding: 5px;
      border-radius: 6px;
    }

    .time-taken {
      margin-left: 20px;
      border: 2px solid #fbfbff;
      border-radius: 7px;
      padding: 5px 12px;
      font-size: 17px;
      background: #b591dd;
      color: #fff;
      height: fit-content;
      margin-top: 19px;
    }

    .time-taken-mini {
      border: 2px solid #fbfbff;
      border-radius: 7px;
      padding: 5px 12px;
      font-size: 14px;
      background: #7b7a7a;
      color: #fff;
      height: fit-content;
    }

    .box { padding-bottom: 22px; }

  }

}

.min-14 {
  min-width: 14rem;
}

@media (max-width: 640px) {
  .xs\:hidden {
    display: none
  }

  .xs\:half {
    width: 50%;
  }

  .event-list .box {
    margin-right: 0px;
    margin-left: 4px;
  }
}
.progress-bar { 
  background: #fff;
  // padding: 0.25rem 0.3125rem;
  border: 0.125rem solid #eaeaea;
  border-radius: 0.3125rem;
  text-align: center;

  .progress-display {
    background: #83cc00;
    width: 50%;
    height: 20px;
  }
  
}

